body{
    font-family: 'Arial';
    margin:0;
}


header{
    border-top: 2px solid black;
    display: flex;
    width: 100vw;
    border-left: 1px solid rgb(227,227,227);
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: 40px;
    padding-bottom: 0;
    font-size: small;
    position: relative;
}

header .cefet{
    padding: 0; 
    color:black;
    width: 15vw;
    text-align: center;
    align-self: center;
}

header nav ul{
    display: flex;
    list-style: none;
    border-left: 1px solid rgb(227, 227, 227);
    border-right: 1px solid rgb(227, 227, 227);
    width: 75vw;
    align-self: center;
    margin: 0;
   
}

header nav ul li{
    padding: 10px;
    font-size: smaller;
    align-self: center;
    border: none;
   
}


header nav ul li a{
    text-decoration: none;
    color: rgb(170,170,170);
    border-right: 1px solid rgb(227, 227, 227);
    margin: 25px 0 15px 0;
    padding-right: 20px;
    padding-left: 10px;
    text-align: center;
}

#ult{
    border-right: none;
}


header .final ul{
    padding: 2px;
    margin: 0;
    display: flex;
    width: 4vw;
    border-right: rgb(170,170,170);
}

header .final ul .busca{
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.7;
    align-self: center;
    list-style: none;
    border-right: none;
}

header .final ul .barras{
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.7;
    align-self: center;
    list-style: none;
    border-right: none;
}


main{
    background-color: rgb(244, 244, 244);
    display: flex;
    padding-top: 0;
    border-top: 2px solid rgb(227, 227, 227);
}

main .conteudo{
    padding-top: 70px;
    display: flex;
    
}

main #hexagono {
    width: 60px;
    height: 62px;
    background: transparent url(img/logo.jpg) no-repeat; 
    background-size: cover;
    background-position: center center;
    position: relative;
 }
 main #hexagono:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0;
    height: 0;
    border-left: 30px solid rgb(244, 244, 244);
    border-right: 35px solid rgb(244, 244, 244);
    border-bottom: 15px solid transparent;
 }
 main #hexagono:after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid rgb(244, 244, 244);
    border-right: 35px solid rgb(244, 244, 244);
    border-top: 15px solid transparent;
 }

 main .left{
     width: 25vw;
     padding-left: 80px;
 }


 main .titulo p{
    color: black;
    line-height: 10px;
    font-size: 90%;
    font-weight: bolder;
 }

 main .legenda{
     opacity: 0.5;
     margin-bottom: 70px;
     font-size: 80%;
    margin-right: 60px;
    }

main .legen{
    font-size: small;
}

 main .conteudo .left .seg{
    border-top: 1px solid gray;
    max-width: 351px;
    padding-top: 25px;
    padding-bottom: 25px;
 }
 
 main .conteudo .left .seg .bloco{
    margin-top: 30px;
    margin-left: -40px;
    width: auto;
    height: auto;
   
 }
 
 main .conteudo .left .bloco figure{
    background-color: white;
    width: 351px;
    }

    main .conteudo .left .bloco figcaption{
        padding-left: 15px;
        line-height: 15px;
        padding-bottom: 15px;
        display: flex;
        
}

main .conteudo .left .bloco figcaption .legenda p{
    font-weight: bolder;
    font-size: small;
}
  
main .conteudo .left .bloco .clario{
        opacity: 0.3;
        font-size: 12px;
        font-weight: bolder;
        line-height: 0%;
    }


  main .conteudo .left .bloco .imagem1 figure{
      align-self: center;
      width: 35px;
      height: 35px;
      margin-left: 130px;
      border-radius: 50%;
	  overflow: hidden;
      position: absolute;
    }

    main .conteudo .left .bloco .imagem2 figure{
        align-self: center;
        width: 35px;
        height: 35px;
        margin-left: 117px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
      }

      main .conteudo .left .bloco .imagem3 figure{
        align-self: center;
        width: 35px;
        height: 35px;
        margin-left: 150px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
      }

      main .conteudo .left .bloco .imagem4 figure{
        align-self: center;
        width: 35px;
        height: 35px;
        margin-left: 155px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
      }


main .conteudo .left .conj{
    display: flex;
    border-bottom: 1px solid gray;
    align-self: center;
    padding-bottom: 15px;
}


main .conteudo .left .conj .tex{
    font-weight: bolder;
    line-height: 2px;
}

main .conteudo .left .conj .tex h5{
    font-weight: bold;
    line-height: 17px;
    margin-bottom: 0;
}

main .conteudo .left .conj .tex p{
    opacity: 0.3;
    font-size: smaller;
    line-height: 1px;
}

main .conteudo .left .seg .ultimo{
    display: flex;
    align-self: center;
    padding-bottom: 35px;
    margin-bottom: 2px;
    border-bottom: 1px solid gray;
}

main .conteudo .left .seg .p1{
    padding-top: 10px;
}


main .conteudo .left .seg .p2{
    text-align: justify;
    opacity: 0.5;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 5px;
    padding-top: 0;
}


main .conteudo .left .seg .p3{
    padding-left: 15px;
    font-size: 13px;
    margin-bottom: 40px;
}

main .conteudo .left .ima ul{
    display: flex;
    opacity: 0.3;
    margin-left: -50px;
    list-style: none;
}

main .conteudo .left .ima ul li{
    padding: 10px;
}

main .conteudo .left .ima h5{
    padding-top: 15px;
    opacity: 0.3;
    font-size: 10px;
}

main .conteudo span{
    text-decoration:underline dotted;
}

main .right{
    margin-left: 40px;
    margin-right: 100px;
}

main .right .block{
    background-color: white;
    border: 1px solid rgb(170,170,170);
    margin-bottom: 50px;
    margin-left: 15px;
    padding-left: 20px;
    margin-right: -10px;
}

main .right .block .pcima{
    border-bottom: 1px solid rgb(170,170,170);
    display: flex;
    position: relative;
}

main .right .block .titulob{  
    padding-left: 40px;
    padding-right: 220px;
    padding-top: 50px;
    padding-bottom: 40px;
    border-right: 1px solid rgb(170,170,170);
    align-self: center;
    margin-bottom: 0;
    
}

main .right .block .titulob #subtitulob{
    opacity: 0.5;
    text-transform: uppercase;
    font-size: small;
}

main .right .block .profile{
    padding-left: 55px;
    padding-top: 40px;
    font-size: small;
    padding-bottom: 40px;

}


main .right .block .foto{
    display: flex;
}

main .right .block .profile h4{
    padding-left: 0;
}

main .right .block .foto h5{
    opacity: 0.5;
    padding-left: 33px;
    
}

main .right .block .foto figure{
    align-self: center;
    width: 35px;
    height: 35px;
    margin: 0 0 0 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    margin-top: -5px;
}

main .right .pbaixo{
    padding-top: 20px;
}


main .right .pbaixo h5{
    padding-left: 40px;
    padding-right: 47px;
    opacity: 0.5;
    line-height: 20px;
}


main .right .contrea h5{
    padding-top: 5px;
    padding-bottom: 40px;
    padding-left: 70px;
    opacity: 1;
}

main .right .pbaixo2{
    display:flex;
    margin-bottom: 10px;
}

main .right .pbaixo2 .general{
    display: flex;
    margin-top: 28px;
    padding-left: 360px;
    margin-bottom: 70px;
    opacity: 0.3;
}

main .right .general span{
    text-decoration: underline dotted;
}

main .right .pbaixo2 .gen{
    padding-right: 20px;
    padding-left: 20px;
    border-right: 1px solid gray;
    font-size: small;
    display: flex;
}


main .right .pbaixo2 .ult{
    padding-right: 20px;
    padding-left: 20px;
    font-size: small;
    display: flex;
}

main .right .pbaixo2 .icone{
    opacity: 0.4;
}

main .right .pbaixo2 .span2{
    padding-left: 10px;
    font-weight: bolder;
    opacity: 1;
}

main .right .pag{
    display: flex;
    margin-left: 50px;
    margin-top: 0;
}

main .right .page{
    opacity: 0.2;
    display: flex;
    padding-right: 50px;
}

main .right .page h5{
    padding-right: 10px;
    padding-left: 10px;
    margin-top: -1px;
}

main .right .page:hover{
    opacity: 1;
}