body{
    text-align: center;
    background-color: lightgrey;
    margin: 0;
}

button{
    background-color: gray;
    color: ivory;
    padding: 12px;
    margin: 20px;
    width: 100px;
}

button:hover{
    color: white;
    background-color: black;
}

header{
    background-color: slategray;
    color: aliceblue;
    border-bottom: 1px solid black;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}